<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/save}" th:object="${blog}" method="post">
    <table>
        <tr>
            <td>ID</td>
            <td>
                <input type="text" th:field="*{id}">
            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td>
                <input type="text" th:field="*{name}">
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <textarea th:field="*{description}"></textarea>
            </td>
        </tr>
        <tr th:colspan="2">
            <td>
                <button type="submit">Save</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>