<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" id="blog">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog: ${listBlog}">
        <td scope="row" th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.description}"></td>
        <td>
            <a th:href="@{/view/{id}(id=${blog.id})}">View</a>
            <a th:href="@{/edit/{id}(id=${blog.id})}">Edit</a>
            <a th:href="@{/delete/{id}(id=${blog.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>