<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Contract Detail</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Create Contract Detail</h3>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/contract-detail/create-contract-detail}" method="post" th:object="${contractDetail}">
    <table class="table">

        <tr>
            <td>Contract Id</td>
            <td>
                <select th:field="*{contractId}">
                    <option th:each="item : ${contracts}" th:text="${item.contractId}" th:value="${item.contractId}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Attach Service</td>
            <td>
                <select th:field="*{attachServiceId}">
                    <option th:each="item : ${attachServices}" th:text="${item.attachServiceName}" th:value="${item.attachServiceId}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td>Quantity</td>
            <td><input type="text" th:field = "*{quantity}"></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Create"></td>
        </tr>
    </table>

</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>