<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/create" method="post" th:object="${user}">
    <div>
        <label for="first_name">First Name:</label>
        <input type="text"  th:field="*{firstName}" id="first_name"/>
        <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div>
        <label for="last_name">Last Name:</label>
        <input type="text"  th:field="*{lastName}" id="last_name"/>
        <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

    <div>
        <label for="phone_number">Phone Number:</label>
        <input type="text"  th:field="*{phoneNumber}" id="phone_number"/>
        <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
    </div>

    <div>
        <label for="age">Age:</label>
        <input type="text"  th:field="*{age}" id="age"/>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text"  th:field="*{email}" id="email"/>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    <input type="submit" value="Create">
</form>
</body>
</html>