<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Create Product</h3>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/product/create-product}" method="post" th:object="${product}">
    <table class="table">
        <tr>
            <td>Product Code</td>
            <td><input type="text" th:field = "*{codeProduct}"></td>
        </tr>
        <tr>
            <td>Product Name</td>
            <td><input type="text" th:field = "*{nameProduct}"></td>
        </tr>
        <tr>
            <td>Old Price</td>
            <td><input type="text" th:field = "*{oldPrice}"></td>
        </tr>
        <tr>
            <td>New Price</td>
            <td><input type="text" th:field = "*{newPrice}"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea cols="21" rows="5" type="text" th:field = "*{description}"></textarea></td>
        </tr>
        <tr>
            <td>Image Link</td>
            <td><input type="file" th:field = "*{img}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Create product"></td>
        </tr>
    </table>

</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>