<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Create Customer</h3>
<!--<th:block th:if="${message}">-->
<!--    <p th:text="${message}"></p>-->
<!--</th:block>-->
<form th:action="@{/customer/create-customer}" method="post" th:object="${customer}">
    <table class="table">
        <tr>
            <td style="color: black">Customer Type</td>
            <td>
                <select th:field="*{customerTypeId}">
                    <option th:each="item : ${customerTypes}" th:text="${item.getCustomerTypeName()}" th:value="${item.getCustomerTypeId()}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td style="color: black">Name</td>
            <td>
                <input type="text" th:field = "*{customerName}">
                <p style="color: red" th:if="${#fields.hasErrors('customerName')}" th:errors="*{customerName}"></p>
            </td>
        </tr>
        <tr>
            <td style="color: black">Birth Day</td>
            <td><input type="date" th:field = "*{customerBirthDay}">
                <p style="color: red" th:if="${#fields.hasErrors('customerBirthDay')}" th:errors="*{customerBirthDay}"></td>
        </tr>
        <tr>
            <td style="color: black">Gender</td>
            <td style="color: black">
                <input type="radio" th:field="*{customerGender}" value="0"> Female
                <input type="radio" th:field="*{customerGender}" value="1"> Male
                <input type="radio" th:field="*{customerGender}" value="2"> Others
            </td>
        </tr>
        <tr>
            <td style="color: black">Id Card</td>
            <td>
                <input type="text" th:field="*{customerIdCard}">
                <p style="color: red" th:if="${#fields.hasErrors('customerIdCard')}" th:errors="*{customerIdCard}">
            </td>
        </tr>
        <tr>
            <td style="color: black">Phone</td>
            <td><input type="text" th:field = "*{customerPhone}">
                <p style="color: red" th:if="${#fields.hasErrors('customerPhone')}" th:errors="*{customerPhone}"></td>
        </tr>
        <tr>
            <td style="color: black">Email</td>
            <td><input type="text" th:field = "*{customerEmail}">
                <p style="color: red" th:if="${#fields.hasErrors('customerBirthDay')}" th:errors="*{customerBirthDay}"></td>
        </tr>

        <tr>
            <td style="color: black">Address</td>
            <td><input type="text" th:field = "*{customerAddress}">
                <p style="color: red" th:if="${#fields.hasErrors('customerAddress')}" th:errors="*{customerAddress}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-primary" type="submit" value="Create"></td>
        </tr>
    </table>

</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>
</html>