<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">
</head>
<body>
<div style="width: 500px">

    <p>
        <a th:href="@{/product/list}">Back to Product List</a>
    </p>
    <table class="table table-striped table-info table-inverse table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th th:colspan="3">GIỎ HÀNG (Số lượng SP: <span th:text="${cartNum}"></span>)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cart: ${carts}">
            <th><img width="80px" height="80px" th:src="@{/img/{img}(img = ${cart.getValue().product.getImg()})}"></th>
            <td>
                <span th:text="${cart.getValue().product.getNameProduct()}"></span><br/>
                <span>Mã SP: </span><br/>
                <span>Đơn giá: </span><br/>
                <span>Số lượng: </span>
            </td>
            <td>
                <span></span><br/>
                <span th:text="${cart.getValue().product.getCodeProduct()}"></span><br/>
                <span th:text="${cart.getValue().product.getNewPrice()}"></span>vnđ<br/>
                <input style="width: 40px" type="number" th:value="${cart.getValue().quantity}"/>
            </td>
            <td>
                <a class="btn btn-danger" th:href="@{/cart/delete/{id}(id = ${cart.getValue().product.getIdProduct()})}">Xóa sản phẩm</a>
            </td>
        </tr>
        <tr>
            <th th:colspan="3">
                Tổng tiền: <span th:text="${cartMoney}"></span>
            </th>
        </tr>
        </tbody>
    </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>