<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/product/layout::head}">

</head>
<body>
<form action="/product/edit" method="post" th:object="${product}">
    <div>
        <label>ID:</label>
        <input type="text"  th:field="*{idProduct}"/>
    </div>
    <div>
        <label>Name:</label>
        <input type="text"  th:field="*{nameProduct}"/>
    </div>
    <div>
        <label>Price:</label>
        <input type="text"  th:field="*{priceProduct}"/>
    </div>
    <div>
        <label>Image:</label>
        <input hidden type="text" th:field="*{imgProduct}">
        <span><img th:src="*{imgProduct}" style="width: 70px; height: 50px"></span>
    </div>
    <div>
        <label>Quantity:</label>
        <input type="text"  th:field="*{quantity}"/>
    </div>
    <input type="submit" value="Edit">
    <div th:insert="~{/product/layout::footer}"></div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</form>
</body>