<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/css/bootstrap.css" type="text/css" rel="stylesheet">

</head>
<body>

<!-- Button trigger modal -->


<h3>DANH SÁCH SẢN PHẨM</h3>
<table class="table" border="1">
    <tr >
        <th th:each="product : ${products}">
            <div>
                <a th:href="@{/product/view-product/{id}(id = ${product.getIdProduct()})}"><img width="230px" height="300px" th:src="@{/img/{img}(img = ${product.getImg()})}"></a>
            </div>
        </th>`

    </tr>
    <tr >
        <td th:each="product : ${products}">
            <div style="text-align: center">
                <p th:text="${product.getNameProduct()}"></p>
                <strike th:text="${product.getOldPrice()}"></strike>vnđ
                <span style="color: red" th:text="${product.getNewPrice()}"></span>vnđ<br/>

<!--                <button type="button" class="btn btn-danger" id="btnModalDelete"-->
<!--                        th:onclick="'javascript:showDelete('+ ${product.idProduct} + ')'">-->
<!--                    Delete-->
<!--                </button>-->

            </div>
        </td>
    </tr>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>